# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.env/

# Node / JS
node_modules/
package-lock.json

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
Desktop.ini
.DS_Store
*.url

# Pyodide cache
.pyodide/
